@model IEnumerable<musicShop.Models.Performance>

@{
    ViewData["Title"] = "Добавить исполнение к пластинке";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить исполнение к пластинке</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ensemble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CircumstancesExecution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ensemble.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CircumstancesExecution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Composition.Name)
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="recordId" value="@ViewBag.RecordId">
                        <input type="hidden" name="performanceId" value="@item.Id">
                        <input type="submit" value="Выбрать" class="btn btn-success">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
