@model musicShop.Models.ViewModels.RecordDetailsViewModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

@if (ViewBag.Photodata != null)
{
    <img class="mt-4 mb-4" width="400" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
}

<div>
    <h4>Пластинки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RetailPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RetailPrice)
        </dd>
        @if (User.IsInRole("admin") || User.IsInRole("cashier"))
{
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.WholesalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.WholesalePrice)
        </dd>
}
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Composition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Composition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Amount)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
    {
        var symbol = "|";
        <a asp-action="Edit" asp-route-id="@Model?.Record.Id">Изменить</a> @symbol
    }
    <a asp-action="Index">Вернуться назад</a>
</div>

<hr>
<div class="container p-0">
    <div class="row pb-3">
        <div class="col-md-9">
            <h4>Исполнения</h4>
        </div>
        @if (User.IsInRole("admin") || User.IsInRole("cashier"))
        {
            <div class="col-md-3 text-end">
                <a asp-action="AddPerformanceToRecord" asp-route-id="@Model?.Record.Id" class="btn btn-info">Добавить исполнение</a>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Performances.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performances.First().Ensemble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performances.First().CircumstancesExecution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Performances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ensemble.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CircumstancesExecution)
                </td>
                <td>
                    <a asp-controller="Performances" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-controller="Performances" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-controller="Records" asp-action="DeleteRelationPerformance" asp-route-performanceId="@item.Id" asp-route-recordId="@Model.Record.Id">Удалить связь</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
