@using Org.BouncyCastle.Asn1.Ocsp;
@model IEnumerable<musicShop.Models.Record>

@{
    ViewData["Title"] = "Пластинки";
}

<h1>Пластинки</h1>

@if (User.IsInRole("admin") || User.IsInRole("cashier"))
{
    <p>
        <a asp-action="SelectComposition" asp-route-fromCreate="true">Добавить</a>
    </p>
    <p>
        <a asp-controller="ReportRecords" asp-action="Index" asp-route-year="0">Скачать отчет в наличие</a>
    </p>
    <p>
        <form asp-controller="ReportRecords" asp-action="Index">
            <input type="submit" value="Скачать отчет топ продаж"> за год <input type="number" name="year" value="@DateTime.Now.Year" min="2000" />
        </form>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            @if (User.IsInRole("admin") || User.IsInRole("cashier"))
{
            <th>
                @Html.DisplayNameFor(model => model.WholesalePrice)
            </th>
}
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice) Руб
            </td>
                @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                {
            <td>
                @Html.DisplayFor(modelItem => item.WholesalePrice) Руб
            </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Composition.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
