@model musicShop.Models.ViewModels.RoleDetailsViewModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Роли</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
    {
        var symbol = "|";
        <a asp-action="Edit" asp-route-id="@Model?.Role.Id">Изменить</a> @symbol
    }
    <a asp-action="Index">Вернуться назад</a>
</div>

<hr>
<div class="container p-0">
    <div class="row pb-3">
        <div class="col-md-9">
            <h4>Музыканты</h4>
        </div>
        @if (User.IsInRole("admin") || User.IsInRole("cashier"))
        {
            <div class="col-md-3 text-end">
                <a asp-action="AddMusicianToRole" asp-route-id="@Model.Role.Id" class="btn btn-info">Добавить музыканта</a>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Musicians.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musicians.First().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musicians.First().Patronymic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Musicians)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    <a asp-controller="Musicians" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-controller="Musicians" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-controller="Roles" asp-action="DeleteRelationMusician" asp-route-musicianId="@item.Id" asp-route-roleId="@Model.Role.Id">Удалить связь</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>