@model musicShop.Models.Delivery

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provider.LegalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDelivery)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
