@model musicShop.Models.ViewModal.MusicianDetailsViewModel
@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

@if (ViewBag.Photodata != null)
    {
        <img class="mt-4 mb-4" width="400" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
    }

<div>
    <h4>Музыкант</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Musician.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Musician.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Musician.Patronymic)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
    {
        var symbol = "|";
        <a asp-action="Edit" asp-route-id="@Model?.Musician.Id">Изменить</a> @symbol
    }
    <a asp-action="Index">Вернуться назад</a>
</div>

<hr>
<div class="container p-0">
    <div class="row pb-3">
        <div class="col-md-9">
            <h4>Роли</h4>
        </div>
        @if (User.IsInRole("admin") || User.IsInRole("cashier"))
        {
            <div class="col-md-3 text-end">
                <a asp-action="AddRoleToMusician" asp-route-id="@Model.Musician.Id" class="btn btn-info">Добавить роль</a>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Roles" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-controller="Roles" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-controller="Musicians" asp-action="DeleteRelationRole" asp-route-roleId="@item.Id" asp-route-musicianId="@Model.Musician.Id">Удалить связь</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<hr>
<div class="container p-0">
    <div class="row pb-3">
        <div class="col-md-9">
            <h4>Ансамбли</h4>
        </div>
        @if (User.IsInRole("admin") || User.IsInRole("cashier"))
        {
            <div class="col-md-3 text-end">
                <a asp-action="AddEnsembleToMusician" asp-route-id="@Model.Musician.Id" class="btn btn-info">Добавить ансамбль</a>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ensembles.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ensembles.First().TypeEnsemble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ensembles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeEnsemble.Name)
                </td>
                <td>
                    <a asp-controller="Ensembles" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-controller="Ensembles" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-controller="Musicians" asp-action="DeleteRelationEnsemble" asp-route-ensembleId="@item.Id" asp-route-musicianId="@Model.Musician.Id">Удалить связь</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
