@model musicShop.Models.ViewModal.MusicianDetailsViewModel
@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h1>Подробности</h1>

<div>
    <h4>Музыкант</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musician.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musician.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musician.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musician.PhotePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musician.PhotePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Musician.Id">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>

<hr>
<div class="container p-0">
    <div class="row pb-3">
        <div class="col-md-9">
            <h4>Роли</h4>
        </div>
        <div class="col-md-3 text-end">
            <a asp-action="AddRoleToMusician" asp-route-id="@Model.Musician.Id" class="btn btn-info">Добавить роль</a>
        </div>

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Players" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
