@model musicShop.Models.Logging

@{
    ViewData["Title"] = "Изменить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменить</h1>

<h4>Позиции</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TypeLoggingId" />
            <input type="hidden" asp-for="Operation" />
            <input type="hidden" name="From" value="@ViewBag.From" />
            <div class="form-group">
                <label class="control-label">Пластинка</label>
                <p>
                    @if (ViewBag.Record != null)
                    {
                        <input type="text" value="@ViewBag.Record.Number" class="form-control" readonly="readonly" />
                        <input type="hidden" asp-for="RecordId" value="@ViewBag.Record.Id" class="form-control" />
                    }
                    else
                    {
                        <input type="text" value="@Model.Record.Number" class="form-control" readonly="readonly" />
                        <input type="hidden" asp-for="RecordId" value="@Model.Record.Id" class="form-control" />
                    }
                </p>
                <a asp-action="SelectRecord" asp-route-id="@ViewBag.Id" asp-route-fromCreate="false" asp-route-from="Orders" class="btn btn-secondary">Выбрать другую пластинку</a>
            </div
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-controller="@ViewBag.From" asp-action="Details" asp-route-id="@Model.Operation">Вернуться назад</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
