@model musicShop.Models.Ensemble

@{
    ViewData["Title"] = "Изменить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменить</h1>

<h4>Ансамбль</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Тип ансамбля</label>
                <p>
                    @if (ViewBag.TypeEnsembleName != null)
                    {
                        <input type="text" value="@ViewBag.TypeEnsembleName.Name" class="form-control" readonly="readonly" />
                        <input type="hidden" asp-for="TypeEnsembleId" value="@ViewBag.TypeEnsembleName.Id" class="form-control" />
                    }
                    else
                    {
                        <input type="text" value="@Model.TypeEnsemble.Name" class="form-control" readonly="readonly" />
                        <input type="hidden" asp-for="TypeEnsembleId" value="@Model.TypeEnsemble.Id" class="form-control" />
                    }
                </p>
                <a asp-action="SelectTypeEnsemble" asp-route-id="@ViewBag.id" class="btn btn-secondary">Выбрать другой тип ансамбля</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
