@model IEnumerable<musicShop.Models.Ensemble>

@{
    ViewData["Title"] = "Ансамбль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ансамбль</h1>

@if (User.IsInRole("admin") || User.IsInRole("cashier"))
{
    <p>
        <a asp-action="SelectTypeEnsemble" asp-route-fromCreate="true">Добавить</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeEnsemble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeEnsemble.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    @if (User.IsInRole("admin") || User.IsInRole("cashier"))
                    {
                        var symbol = "|";
                        @symbol
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        @symbol
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
