@model IEnumerable<musicShop.Models.TypeEnsemble>

@{
    ViewData["Title"] = "Select Type Ensemble";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Select Type Ensemble</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (ViewBag.fromCreate != "true")
                    {
                        <a asp-action="Create" asp-route-name="@TempData["EnsembleName"]" asp-route-typeEnsembleId="@item.Id">Select</a>
                    }
                    else{
                        <a asp-action="Edit" asp-route-name="@TempData["EnsembleName"]" asp-route-typeEnsembleId="@item.Id">Select</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.fromCreate == "true")
    {
        <a asp-action="Create" asp-route-name="@TempData["EnsembleName"]">Back to Ensemble Creation</a>
    }
    else{
        <a asp-action="Edit" asp-route-name="@TempData["EnsembleName"]">Back to Ensemble Edit</a>
    }
</div>
