@model IEnumerable<musicShop.Models.TypeEnsemble>

@{
    ViewData["Title"] = "Выбрать тип ансамбля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Выбрать тип ансамбля</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (ViewBag.fromCreate == true)
                    {
                        <a asp-action="Create" asp-route-typeEnsembleId="@item.Id">Выбрать</a>
                    }
                    else{
                        <a asp-action="Edit" asp-route-typeEnsembleId="@item.Id" asp-route-id="@ViewBag.id">Выбрать</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.fromCreate == true)
    {
        <a asp-action="Create">Вернуться назад к добавлению</a>
    }
    else{
        <a asp-action="Edit" asp-route-id="@ViewBag.id">Вернуться назад к изменению</a>
    }
</div>
