<h2>Оформление доставки: выбор адреса</h2>
<form asp-action="ChooseAddress" class="form-group">
	<input type="hidden" name="ClientId" value="@ViewBag.ClientId" />
	<div class="form-group">
		<label class="control-label">ФИО покупателя:</label>
		<label class="control-label">@ViewBag.Client.Name @ViewBag.Client.Surname @ViewBag.Client.Patronymic</label>
	</div>
	<div class="form-inline">
		<label class="control-label col-md-4">Адрес:</label>
		<div class="col-md-8">
			<input type="text" name="Address" class="form-control" value="@ViewBag.Client.Address" />
		</div>
	</div>
	<div class="form-group pt-3">
		<input type="submit" value="Далее" class="btn btn-primary" />
	</div>
</form>
