@model IEnumerable<musicShop.Models.Record>
@{
    ViewData["Title"] = "Выбор пластинок";
}
<h1>Выбор пластинок</h1>
<div class="form-group">
    <label class="control-label">ФИО покупателя</label>
    <label class="control-label">@ViewBag.Client</label>
</div>
<div class="form-group">
    <label class="control-label">Адрес доставки:</label>
    <label class="control-label">@ViewBag.Address</label>
</div>
<div class="form-group">
    <label class="control-label">Дата доставки:</label>
    <label class="control-label">@ViewBag.Date</label>
</div>
<form asp-action="ChooseRecords" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Composition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @for (var i = 0; i + count < Model.Count(); i++)
            {
                Record item = new Record();
                for (int j = i + count; j < Model.Count(); j++)
                {
                    item = Model.ElementAt(j);
                    if (item.Amount > 0)
                        break;
                    else
                        count++;
                }
                if (item.Id == 0) break;
                @if (item.Amount > 0)
                {
                    <tr>
                        <input type="hidden" name="records[@i].Id" value="@item.Id" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                        <input type="hidden" name="records[@i].Number" value="@item.Number" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailPrice)
                        <input type="hidden" name="records[@i].RetailPrice" value="@item.RetailPrice"/> Руб
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Composition.Name)
                        <input type="hidden" name="records[@i].CompositionName" value="@item.Composition.Name" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <input type="number" name="records[@i].Count" value="0" min="0" max="@item.Amount" />
                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="form-group pt-3">
        <input type="hidden" name="ClientId" value="@ViewBag.ClientId" />
        <input type="hidden" name="Address" value="@ViewBag.Address" />
        <input type="hidden" name="Date" value="@ViewBag.Date" />
        <input type="submit" value="Далее" class="btn btn-primary" />
    </div>
</form>

