<h1>Оформление заказа</h1>
<form asp-action="ChooseAddress" class="form-group">
	<input type="hidden" name="ClientId" value="@ViewBag.ClientId" />
	<div class="form-group">
		<label class="control-label">ФИО покупателя:</label>
		<label class="control-label">@ViewBag.Client.Name @ViewBag.Client.Surname @ViewBag.Client.Patronymic</label>
	</div>
	<div class="form-inline">
		<label class="control-label col-md-4">Адрес доставки:</label>
		<div class="col-md-8">
			<input type="text" name="Address" class="form-control" value="@ViewBag.Client.Address" />
		</div>
		<label class="control-label col-md-4">Дата доставки:</label>
		@if(ViewBag.DateError){
		<h4>Выбранная дата доставки не может быть ранее текущей даты.</h4>
		}
		<div class="col-md-8">
			<input type="date" name="Date" class="form-control"/>
		</div>
	</div>
	<div class="form-group pt-3">
		<input type="submit" value="Далее" class="btn btn-primary" />
	</div>
</form>
