@model IEnumerable<musicShop.Models.Performance>

@{
    ViewData["Title"] = "Исполнение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Исполнение</h1>

<p>
    <a asp-action="SelectComposition" asp-route-fromCreate="true">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ensemble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CircumstancesExecution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ensemble.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircumstancesExecution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composition.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
