@model IEnumerable<musicShop.Models.Ensemble>

@{
    ViewData["Title"] = "Выбрать ансамбль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Выбрать ансамбль</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeEnsemble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeEnsemble.Name)
                </td>
                <td>
                    @if (ViewBag.fromCreate == true)
                    {
                        <a asp-action="SelectComposition" asp-route-ensembleId="@item.Id" asp-route-fromCreate="true">Выбрать</a>
                    }
                    else
                    {
                        <a asp-action="SelectComposition" asp-route-ensembleId="@item.Id" asp-route-id="@ViewBag.id" asp-route-fromCreate="false">Выбрать</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.fromCreate == true)
    {
        <a asp-action="Create" >Вернуться назад к добавлению</a>
    }
    else{
        <a asp-action="Edit" asp-route-id="@ViewBag.id" >Вернуться назад к изменению</a>
    }
</div>
