@model IEnumerable<musicShop.Models.Record>
@{
    ViewData["Title"] = "Выбор пластинок";
}
<h1>Выбор пластинок</h1>
<div class="form-group">
    <label class="control-label">Наименование компании:</label>
    <label class="control-label">@ViewBag.Provider</label>
</div>
<div class="form-group">
    <label class="control-label">Дата доставки:</label>
    <label class="control-label">@ViewBag.Date</label>
</div>
<form asp-action="ChooseRecords" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WholesalePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Composition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                    <tr>
                        <input type="hidden" name="records[@i].Id" value="@item.Id" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                        <input type="hidden" name="records[@i].Number" value="@item.Number" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WholesalePrice)
                        <input type="hidden" name="records[@i].WholesalePrice" value="@item.WholesalePrice" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Composition.Name)
                        <input type="hidden" name="records[@i].CompositionName" value="@item.Composition.Name" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                        <input type="hidden" value="@item.Amount" />
                    </td>
                    <td>
                        <input type="number" name="records[@i].Count" value="0" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group pt-3">
        <input type="hidden" name="ProviderId" value="@ViewBag.ProviderId" />
        <input type="hidden" name="Date" value="@ViewBag.Date" />
        <input type="submit" value="Далее" class="btn btn-primary" />
    </div>
</form>

